* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.title-section {
  height: 55px;
  background-color: #177e89;
  display: flex;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-size: 24px;
}

header nav {
  display: flex;
  justify-content: space-between;
  width: 380px;
}

header nav h3 {
  font-size: 18px;
  padding: 0 10px 0 10px;
}

.subtitle-section {
  background-color: #323031;
}

.subtitle {
  height: 200px;
  position: relative;
}

.subtitle h2 {
  font-size: 50px;
  color: #fff;
  position: absolute;
  bottom: 30px;
}

.main {
  display: flex;
  padding-top: 20px;
}

aside {
  padding: 15px;
  min-width: 170px;
  background-color: #f5d742;
}

.content {
  margin-left: 20px;
}

.content-box {
  margin-bottom: 50px;
}
